* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header,
main,
footer {
	padding: 30px 20px;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-size: 20px;
	color: #191919;
}

main {
	flex: 1 1 auto;
}

header {
	background-color: #6ad1ee;
	display: flex;
	align-items: center;
	gap: 30px;
}

header a {}

footer {
	background-color: #8989a2;
	padding: 30px 20px;
	text-align: center;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

ul {
	margin-bottom: 20px;
	/* margin-left: 30px; */
}

li {
	/* list-style: none; */
	margin-bottom: 10px;
	margin-left: 25px;
	text-transform: capitalize;
}

h2 {
	font-size: 25px;
	margin-bottom: 20px;
}